<div class="editor-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
  
          <form [formGroup]="storyForm">
            <fieldset>
              <span class="ion-information-circled" style='color: red' *ngIf="storyForm.get('Title').hasError('required') && storyForm.get('Title').touched">
                    Please enter title for your story
              </span> 
              <fieldset class="form-group">
                <input class="form-control form-control-lg"
                  formControlName="Title"
                  type="text"
                  placeholder="Enter the title of your story"
                  required  />
              </fieldset>
              <span class="ion-information-circled" style='color: red' *ngIf="storyForm.get('Body').hasError('required') && storyForm.get('Body').touched">
                  Please write your story
            </span> 
              <fieldset class="form-group">
                <textarea class="form-control"
                  formControlName="Body"
                  rows="8"
                  placeholder="Enter the body of your story">
                </textarea>
              </fieldset>
              <button [disabled]="storyForm.invalid" class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
                Publish Story
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  