<div class="article-page">

    <div class="banner">
      <div class="container">
        <h1>{{ story.title }}</h1>
        <app-story-meta [story]="story">
        </app-story-meta>
      </div>
    </div>
    <div class="container page">
      <div class="row article-content">
        <div class="col-md-12">
          <div [innerHTML]="story.body"></div>
        </div>
      </div>
      <hr />
      <div class="article-actions">
        <app-story-meta [story]="story">
        </app-story-meta>
      </div>  
    </div>
  </div>
  