<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">

        <h1 class="text-xs-center">Your Settings</h1>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">


          <fieldset [disabled]="isSubmitting">
              <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.FullName.errors?.required && settingsForm.controls.FullName.touched">
                  Your full name is required
              </span>
              <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.FullName.errors?.minlength && settingsForm.controls.FullName.touched">
                  Full Name must be at least 4 characters
              </span>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="FullName" formControlName="FullName" />
            </fieldset>
            <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.Email.errors?.email && settingsForm.controls.Email.touched">
              Email must be a valid email address
            </span>
            <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.Email.errors?.required && settingsForm.controls.Email.touched">
              Email is required
            </span>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" formControlName="Email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" disabled="true" placeholder="Username" formControlName="UserName"
              />
            </fieldset>
            <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.Password.errors?.required && settingsForm.controls.Password.touched">
              Password is required
            </span>
            <span class="ion-information-circled" style='color: red' *ngIf="settingsForm.controls.Password.errors?.minlength && settingsForm.controls.Password.touched">
              Password must be at least 6 characters
            </span>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="New Password" formControlName="Password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!settingsForm.valid" type="submit">
              Update Settings
            </button>

          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr />

        <button class="btn btn-outline-danger" (click)="logout()">
          Or click here to logout.
        </button>

      </div>
    </div>
  </div>
</div>